# Default ignored files

/shelf/
/workspace.xml
/codeStyles
/compiler.xml
/jarRepositories.xml
/misc.xml
/modules.xml
/vcs.xml
../target
/libraries
../.idea
/uiDesigner.xml
JavaPractice/.idea/
/JavaPractice/.idea/
